.add-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100%;

}
.inputs{
    display : grid;
    grid-template-columns: 150px 200px 200px 200px 150px 100px;
    column-gap: 15px;
    margin-top : 40px;
}
.in{
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
}
.add-button{
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.25s;

}
.add-button:hover{
    opacity: 0.8;
}
.add-button:active{
    opacity: 0.6;
}
.add-message{
    margin-top:  30px;
    margin-bottom: 90px;
    width: 250px;
    font-size: 20px;
}
@media(max-width : 1200px){
    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 20px;
        padding : 20px;
        border: 1px solid #E2001A;
        border-radius: 5px;
    }
    .add-button{
        width: 90px;
        height : 40px;
    }
    .in{
        width : 250px;
    }
}