.add-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0055A4;
}
.inputs{
    display: grid;
    grid-template-columns: 150px 200px 200px 200px 150px 200px 100px;
    gap : 20px;
    margin-bottom : 50px;
}
.in{
    padding : 10px;
    font-size : 15px;
    border :1px solid lightgray;
    border-radius : 3px;

}
.add-button{
    color: white;
    font-size: 15px;
    font-weight: bold;
    border : none;
    border-radius : 3px;
    background-color: green;
    cursor: pointer;
    transition : opacity 0.25s;
}
.add-button:hover{
    opacity : 0.8;
}
.add-button:active{
    opacity: 0.6;
}
.add-message{
    width : 250px;
    font-size: 20px;
    margin-top : 20px;
    margin-bottom : 90px;
}
@media(max-width : 1400px){
    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 20px;
        padding : 20px;
        border : 2px solid #E2001A;
        border-radius: 5px;
    }
    .add-button{
        width : 100px;
        height : 45px;
    }
    .in{
        width : 300px;
    }
}
@media(max-width : 414px){
    .in{
        width: 250px;
    }
}