@import "tailwindcss";


*{
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}

body{

    font-family: 'Inter', sans-serif;
    padding-top: 65px;
    background-color: white;
}

@media (max-width : 950px){
   body{
    padding-top: 115px;
   }
}

@layer components{
    .linkNav{
        @apply text-[16px] 
    }
}


.smoothPulse {
  display: inline-block;
  animation: smoothPulse 2s infinite ease-in-out;
}

@keyframes smoothPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}