@import "tailwindcss";


*{
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}

body{

    font-family: 'Inter', sans-serif;
    padding-top: 55px;
    background-color: white;
}

@layer components{
    .linkNav{
        @apply text-[16px]
    }
}
