
.cart-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.items-msg{
    font-size : 20px;
    color: #2d9cdb;
    width : 280px;
    text-align: center;

}
.display-cart{

    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap : 30px;
    align-items: center;
    padding: 20px;
    margin-top : 20px;
    margin-bottom : 70px;
}
.buttons-div{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 15px;
    margin-top: 5px;
}
.plus-button,.moins-button{
    padding: 3px 11px;
    font-size : 20px;
    border: 1px solid lightgray;
    background-color: #2d9cdb;
    color: white;
    font-weight: bold;
    border-radius : 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.plus-button:hover,.moins-button:hover{
    opacity : 0.8;
}
.plus-button:active,.moins-button:active{
    opacity: 0.6;
}
.total-div{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #2d9cdb;
    height: 100vh;

}
.total-title{
    color: white;
}
.display-total{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    
}
.total-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 15px;
    margin-top : 30px;
    margin-bottom : 50px;
}
.order-button,.reset-button{
    padding : 8px 12px;
    font-size: 15px;
    font-weight: bold;
    border : 1px solid lightgray;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.order-button{
    background-color: lightgreen;
    color: black;

}
.reset-button{
    background-color: red;
    color: white;
}
.order-button:hover,.reset-button:hover{
    opacity : 0.8;
}
.order-button:active,.reset-button:active{
    opacity : 0.6;
}