body{
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: roboto, arial;
}

.js-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}
h1{
    color: green;
    font-weight: 900;
    text-decoration: underline;
    margin-top : 70px; 
    font-size: 3em;

}
.functionalities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.inputs{
    display: grid;
    grid-template-columns: 200px 90px;
    gap : 10px;
    position: fixed;
    bottom : 0;
    padding: 15px;
}
.input-msg{
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    border-radius: 20px;
}
.send-button{
    background-color: rgb(60, 140, 60);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: opacity 0.2s;
    border-radius: 20px;

}
.send-button:hover{
    opacity: 0.8;
}
.send-button:active{
    opacity: 0.6;
}
.chat-messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 30px;
    gap: 15px;
}
.chat-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 20px;
}