.assistant-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputs{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.input-prompt{
    padding: 10px;
    font-size : 15px;
    text-align: center;
    border : 1px solid lightgray;
    border-radius: 28px;
    width: 300px;
}
.analyze-button{
    height: 40px;
    width: 100px;
    font-size: 15px;
    color: white;
    background-color: #E2001A;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, opacity 0.2s;

}
.analyze-button:hover{
    color: #E2001A;
    background-color: white;
}
.analyze-button:active{
    opacity : 0.6;
}
.msg{
    width : 250px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
}
.display-result{
    width : 70%;
    font-size: 20px;
    color: black;
    line-height: 30px;
    text-align: center;
}
@media(max-width : 500px){
    .input-prompt{
        width : 200px;
    }
    .display-result{
        font-size: 17px;
        line-height: 25px;
    }
}