.done-section,.undone-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.done-section{
    background-color: lightskyblue;
}
.undone-section{
    background-color: beige;
}
.display-done,.display-undone{
    margin-bottom :90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}