.filter-section{
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.filter-inputs{
    display: grid;
    grid-template-columns: 170px 80px;
    column-gap: 15px;
}
.input-style{
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.filter-button{
    background-color: #2b9cdb;
     font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}
.filter-button:hover{
    opacity : 0.8;
}
.filter-button:active{
    opacity : 0.6;
}
.display-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap : 30px;
    margin-bottom : 70px;
}