header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    height : 50px;
    top : 0;
    position: fixed;
}

.header-title{
    color: #E2001A;
    font-weight: 900;
    font-size : 1.7em;
    margin-left : 5px;
}

.humburger{
    color: #E2001A;
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
    margin-right: 5px;
    transition: opacity 0.2s;
}
.humburger:hover{
    opacity : 0.6;
}
.humburger:active{
    opacity : 0.4;
}

nav{
    display: none; 
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right : 20px;
    margin-top  :320px;
    padding :20px;
    background-color: #E2001A;
    gap : 10px;
    border-radius: 5px;
}
.ff{
    font-size : 15px;
    text-decoration: none;
    color: white;
    font-weight: 550;
    transition : opacity 0.2s;
}
.ff:hover{
    opacity : 0.8;
}
.ff:active{
    opacity : 0.6;
}

@media(max-width : 541px){
    .header-title{
        font-size : 1.3em;
    }
    .humburger{
        font-size : 30px;
    }

}

@media(max-width : 420px){
    .header-title{
        font-size: 1.1em;
    }
}