header{

    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position : fixed;
        top : 0;
    background-color: #131D4F;
    height: 60px;
    
}

.header-title{
    font-size: 2.2em;
    color : white;
    margin-left : 15px;
}
.functions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 30px;
    margin-right: 20px;
}

.ff{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s;
}

.ff:hover{
    color: rgb(99, 99, 255);
}
.ff:active{
    color: blue;
}

@media(max-width : 850px){
    .header-title{
        font-size : 1.9em;
        margin-left : 10px;

    }
    .functions{
        gap : 15px;
        margin-right: 10px;
    }
    .ff{
        font-weight : 550;
        font-size : 15px;
    }
}
@media(max-width : 500px){
    .header-title{
        font-size : 1.3em;
        margin-left : 5px;
        
    }
    .functions{
        gap : 8px;
        margin-right : 5px;
        
    }
    .ff{
        font-size: 12px;
        font-weight: 500;
    }
}
@media(max-width : 420px){
    .header-title{
        font-size : 1.1em;
        margin-left : 2px;
    }
    .functions{
        margin-right: 2px;
    }
}

@media(max-width : 372px){
    .header{
        height : 55px;
    }
    .header-title{
        font-size : 1em;
    }
    .functions{
        gap : 5px;
    }
    .ff{
        font-size : 10px;
    }
}