.hist-section,.precautions-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.display-hist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-bottom: 90px;
    margin-top: 30px;
}
.hist-div{
    display: grid;
    grid-template-columns: 500px 500px;
    border: 2px solid #E2001A;
    
    
}
.prompt-div,.response-div{
    padding : 15px;
    text-align: center;
    font-size: 16px;
}
.prompt-div{
    border-right : 2px solid #E2001A;
}


@media(max-width : 1050px){
    .hist-div{
        display: grid;
        grid-template-columns: 300px 300px;
    }
}
@media(max-width : 650px){
     .hist-div{
        display: grid;
        grid-template-columns: 200px 200px;
    }
}
@media(max-width : 500px){
     .hist-div{
        display: grid;
        grid-template-columns: 150px 150px;
       
    }
    .prompt-div,.response-div{
         font-size: 11px; 
         
      }
}