.home-section{
    display  : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F4F4F4;
}
.home-section-title,.add-section-title,.liste-section-title,.search-section-title,.search-section-title,.modif-section-title,.stat-section-title,.sort-section-title{

    font-size: 3em;
    color: #E2001A;
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 70px;

}
.home-text{

    width: 1000px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom : 90px;
    text-align: center;
}

@media(max-width : 1050px){
    .home-text{
        width : 750px;
    }
}
@media(max-width : 900px){
    .home-text{
        width : 500px;
    }
}
@media(max-width : 750px){
    .home-text{
        width : 400px;

    }
}
@media(max-width : 550px){
    .home-text{
        width : 250px;
        line-height: 30px;
        font-size: 14px;
    }
    .home-section-title,.liste-section-title,.search-section-title,.modif-section-title,.stat-section-title,.sort-section-title{
        font-size: 2.1em;
    }
}