.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-section-title{
    font-size: 3em;
    font-weight: 900;
    text-decoration: underline;
    color: #E2001A;
    margin-top: 70px;
}
.home-text{
    font-size: 20px;
    width : 80%;
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}
@media(max-width : 500px){
    .home-section-title{
        font-size: 2.3em;

    }
    .home-text{
        width : 70%;
        font-size: 15px;
        line-height: 25px;
    }
}