.liste-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}
.display-content{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap : 30px;
    margin-top : 30px;
    margin-bottom : 90px;
}
.watch-image{
    height : 300px;
    width : 200px;
    object-fit: cover;
    margin-bottom : 15px;
}
.watch-div{
   width : 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: white;
   align-items: center;
   text-align: center;
   height : 620px;
   box-shadow : 1px 2px 3px black;
   font-size : 17px;
   gap : 8px;
   font-weight : 500;
   padding : 20px;
}
.add-button{
    background-color: #bfa46f;
    border : 1px solid lightgray;
    padding : 7px 13px;
    font-size: 15px;
    font-weight : bold;
    color: white;
    border-radius : 15px;
    margin-top : 10px;
    cursor: pointer;
    transition : color 0.2s,background-color 0.2s, opacity 0.2s;
}
.add-button:hover{
    background-color: white;
    color: #bfa46f;
}
.add-button:active{
    opacity : 0.6;
}
.add-msg,.cart-msg,.add-search,.filter-msg{
    font-size: 20px;
    font-weight : bold;
    padding: 15px;
    box-shadow : 1px 2px 3px black;
    border-radius: 5px;
    position : fixed;
    background-color: white;
    top : 300px;
    width : 250px;
    text-align: center;
}