.modif-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;

}
.modif-message{
    width : 250px;
    font-size: 20px;
    margin-top : 20px;
    margin-bottom : 90px;
}
