.modif-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color:  #90AFC5;
    width: 100%;
}
.modif-section-title{
    font-size: 3em;
    color: white;
    text-decoration: underline;
    font-weight: 900;
    margin-top: 70px;
}
.modif-button{
    background-color: green;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.25s;
    width : 100px;
    
}
.modif-button:hover{
    opacity: 0.8;
}

.modif-button:active{
    opacity: 0.6;
}

.modif-result{
    font-size : 20px;
    font-weight : 600;
    color: green;
    margin-top: 30px;
    width : 300px;
}

@media(max-width : 100px){
    .modif-button{
        height : 45px;
    }
}