.rock-section{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    background-color: #EBFFD8;
}
.rock-section-title{
    font-size : 3em;
    text-decoration: underline;
    font-weight: 900;
    padding-bottom: 70px;
}
.buttons{
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    gap : 80px;
    padding-bottom: 50px;
}

.buttons-displays{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 50px;
    padding-bottom:  50px;
}

.score-button,.reset-button{
    padding : 10px;
    font-size: 15px;
    font-weight: 900;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.score-button:hover,.reset-button:hover{
    opacity : 0.8;
}

.score-button:active,.reset-button:active{
    opacity : 0.6;
}

.displays{

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    font-size: 20px;
    gap: 40px;
    padding-top: 50px;
    font-weight: 600;;
}

.image{
    height : 60px;
    
}
.bb{
    background-color: black;
    padding : 50px;
    border : 3px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.bb:hover{
    opacity: 0.8;
}

.bb:active{
    opacity: 0.6;
}