.search-section{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items: center;
    width : 100%;
    background-color: #123458;
}
.search-section-title{
    font-size : 2.5em;
    color : white;
    font-weight: 900;
    text-decoration: underline;

}
.search{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 40px;
}
.search-button{
    border : none;
    border-radius: 8px;
    padding : 15px;
    cursor: pointer;
    font-size: 15px;
    background-color: green;
    color: white;
    font-weight: 800;
    transition: opacity 0.3s;
    transition: padding 0.4s;
}

.search-button:hover{
    opacity: 0.8;
    padding: 30px;
}
.search-button:active{
    opacity: 0.6;
    padding: 30px;
}

.display-contact{
    padding-bottom: 60px;
}

.dd{
    padding: 25px;
    background-color: white;
    border-radius : 5px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.display-found{
    font-size : 20px;
    color: white;
    font-weight: 600
}

