.search-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    width : 100%;

}
.search-inputs{
    display: grid;
    grid-template-columns: 150px 100px;
    column-gap: 15px;
}
.search-code{
    padding : 10px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.search-button,.modif-button{
    font-size: 15px;
    color : white;
    background-color: #E2001A;
    border : 1px solid lightgray;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s , background-color 0.2s, opacity 0.2s;
    width : 100px;
    height : 40px;
}
.search-button:hover,.modif-button:hover{
    background-color: white;
    color: #E2001A;
}
.search-button:active,.modif-button:active{
    opacity: 0.6;
}
.search-message{
    margin-top : 30px;
    margin-bottom: 50px;
    width: 250px;
    font-size: 22px;
       
}

.display-search{
    margin-bottom : 90px;
}
