.sort-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;

}
.sort-button{
    margin-bottom : 50px;
}
.display-sort{
    margin-bottom : 90px;
}