.sort-section{

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    background-color: #F98866;
}

.sort-section-title{

    font-size: 3em;
    text-decoration: underline;
    margin-top: 70px;
    margin-bottom: 70px;
}
.sort-button{
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
    width : 100px;
    height : 40px;
    transform: opacity 0.25s;
    margin-bottom: 40px;
}
.sort-button:hover{
    opacity: 0.8;
}

.sort-button:active{
    opacity: 0.6;
}