.stat-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    width: 100%;
}
h2{
    font-size : 1.8em;
    color: #E2001A;
    text-decoration: underline;
}
.total-div,.ongoing-div,.completed-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 15px;
    margin-top : 50px;
    margin-bottom: 90px;
}
.dd{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 40px;
    width : 120px;
    background-color: white;
    font-size :15px;
    font-weight : 550;
}
.ongoing-div,.completed-div{
    border-top : 1px solid #E2001A;
    width : 70%;
}
