.stat-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
h2{
    font-size : 1.5em;
    color: #E2001A;
    font-weight : 900;
    text-decoration : underline;
    margin-top : 50px;
}
.moy-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 70%;

}

.display-moy{

    font-size : 1.2em;
    font-weight: bold;
    color: black;
    margin-top : 30px;
    margin-bottom: 40px;
}

.max-div,.min-div{

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top : 2px solid #E2001A;
    width : 70%;
}
.display-max{
    margin-bottom: 40px;
}
.display-min{

    margin-bottom : 60px;
}