.stat-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.stat-section{
    width: 100%;
}
h2{
    font-size: 2em;
    color: #E2001A;
    text-decoration: underline;

}
.stat-nbrD{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom : 70px;
    border-top: 1px solid #E2001A;
}
.nbrD-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 15px;
    margin-top: 50px;
    margin-bottom : 80px;
}
.display-nbrD,.display-outgoing,.display-incoming{
    height : 40px;
    width : 120px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbrD-button,.out-button,.in-button{
    height: 40px;
    width: 120px;
    border: none;
    background-color: #E2001A;
    color: white;
    transition: opacity 0.25s;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;

}

.nbrD-button:hover,.out-button:hover,.in-button:hover{
    opacity: 0.8;
}
.nbrD-button:active,.out-button:active,.in-button:active{
    opacity: 0.6;
}

.stat-outgoing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top : 30px;
    border-top : 2px solid #E2001A;
    width: 100%;
}
.stat-incoming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top : 30px;
    border-top : 2px solid #E2001A;
    width: 100%;
}
